
  <div class="form-container">
    <p class="form-head">Signup for Newsletters</p>
    <form class="subscription-form" method="post" action="/">
      <input type="text" placeholder="Full Name" name="name" class="name fInput">
      <input type="email" name="email" placeholder="Email" class="email fInput">
      <button type="submit" class="sub-btn">SUBSCRIBE</button>
    </form>
    <p class="description">Our free email newsletter delivers new recipes and special updates!</p>  
  </div>
  <footer>
    <img src="/images/sanji-pfp.jpg" alt="pfp" class="profile-pic">
    <ul class="footer-links">
      <li class="one">About</li>
      <li>Contact Us</li>
      <li>Cookbook</li>
      <li>Recipies</li>
      <li>Shop</li>
      <li>Subscribe</li>
    </ul>
    <p>&copy; Sanji's Kitchen 2010-2023. All right reserved</p>
  </footer>