<%- include('header'); -%>
  <h1>LATEST BLOG POSTS</h1>
  <main class="grid-container">
    <div class="thumbnail">
      <a href="/articles/article-1"><img src="/images/will-schulenberg-SkelHOu8Uic-unsplash.jpg" alt="thumbnail"></a>
      <a class="title" href="/articles/article-1">The 10 Best Things to do in Tokyo</a>
    </div>
    <div class="thumbnail">
      <a href="/articles/article-2"><img src="/images/will-schulenberg-SkelHOu8Uic-unsplash.jpg" alt="thumbnail"></a>
      <a class="title" href="/articles/article-2">The 10 Best Things to do in Tokyo</a>
    </div>
    <div class="thumbnail">
      <a href="/articles/article-3"><img src="/images/will-schulenberg-SkelHOu8Uic-unsplash.jpg" alt="thumbnail"></a>
      <a class="title" href="/articles/article-3">The 10 Best Things to do in Tokyo</a>
    </div>
  </main>

  <body>
<%- include('footer'); -%>
  <script src="/script/script.js"></script>
  </body>
</html>
