@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root{
  --primary: #252525;
  --seccondary: #F7F7F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  background-color: #4b4b4b;
  color: #dbdbdb;
}

html{
  position: relative;
}

body{
  padding-bottom: 500px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  text-align: center;
}

/* Header */

header{
  background-color: var(--primary);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.socials{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

img{
  height: 30px;
}

.sanji-logo{
  height: 70px;
}

.search{
  border: none;
  border-radius: 0 2px 2px 0;
  font-size: 1rem;
  padding: 10px 0;
  margin-left: 30px;
  color: #252525;
  width: 50%;
}

.search:focus{
  outline: none;
}

.search-icon{
  background-color: white;
  position: relative;
  left: 40px;
  height: 39px;
  padding: 8px;
  border-radius: 2px 0 0 2px;
}

.nav-items{
  list-style: none;
  display: flex;
  width: 100%;
  gap: 30px;
  color: white;
  white-space: nowrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}

a{
  cursor: pointer;
  color: white;
  text-decoration: none;
  position: relative;
}

a::after{
  content: '';
  width: 0;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: white;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

a:hover::after{
  width: 100%;
}

/* Scroll Header */

.scroll-header{
  background-color: var(--primary);
  display: none;
  padding: 1rem 1rem 0.5rem 4rem;
  padding-top: 1rem;
  position: fixed;
  justify-content: end;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.scroll-header > .nav-items{
  width: auto;
}

.scroll-sanji-logo{
  position: fixed;
  top: 13px;
  left: 10px;
}

.scroll-search-icon{
  margin-left: 20px;
  filter: invert(1);
  cursor: pointer;
}

/* Footer */

footer{
  background-color: var(--primary);
  color: rgb(212, 212, 212);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:180px;
  padding: 1.5rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-pic{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.footer-links{
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 20PX;
  font-size: 1.2rem;
}

.one{
  list-style: none;
}

.form-container{
  background-color: var(--seccondary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 180px;
  padding: 1.5rem;
  text-align: center;
}

.subscription-form{
  display: flex;
  justify-content: center;
}

.form-head{
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  margin-bottom: 20px;
}

.fInput{
  border: 1px gray solid;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: var(--primary);
  font-family: monospace;
  width: 250px;
  margin-left: 10px;
}

.fInput::placeholder{
  color: var(--primary);
}

.description{
  font-family: monospace;
  margin-top: 20px;
  font-size: 0.8rem;
  position: relative;
}

.sub-btn{
  border: none;
  background-color: var(--primary);
  color: var(--seccondary);
  padding: 5px 10px;
  font-weight: 500;
  cursor: pointer;
}

.sub-btn:hover{
  background-color: #363636;
}

.cp{
  font-size: 1.3rem;
}

/* Home */

.grid-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  gap: 3%;
  padding: 0 3%;
}

.thumbnail > a > img{
  width: 100%;
  height: auto;
  aspect-ratio: 67/40;
  overflow: hidden;
  cursor: pointer;
}

.title{
  cursor: pointer;
  color: black;
}

.blog-content{
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  padding: 30px 100px;
  line-height: 2rem;
}